.home {
    -fx-background-color: #FFFFFF;
}

.windows-buttons {
    -fx-background-color: transparent;
}

.windows-buttons-left:hover {
    -fx-background-color: #F1F2F2;
}

.windows-buttons-right:hover {
    -fx-background-color: #E81123;
}

.directory {
    -fx-font-family: "SF Pro Display Semibold";
}

.rounded-button-blue:hover > * {
    -fx-fill: #0351C1;
}

.title {
    -fx-font-family: "SF Pro Display Bold";
    -fx-font-size: 18px;
}

.song {
    -fx-font-family: "SF Pro Display Semibold";
    -fx-font-size: 14px;
}

.artist, .time {
    -fx-font-family: "SF Pro Display Semibold";
    -fx-font-size: 13px;
    -fx-text-fill: #9EA09F;
}

.playing {
    -fx-text-fill: #527ADA;
}
